@import "../../../node_modules/angular-calendar/css/angular-calendar.css";

:host {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.page-content {
  background-color: #ffffff;
  color: black;
  height: 100%;
  width: 100%;
  margin: 0;
}

p {
  margin: 0;
}

::ng-deep {
  $input-main-color: white;
  $input-label-color: white;

  .ng-touched::-webkit-input-placeholder {
    color: $input-main-color;
  }

  .ng-untouched::-webkit-input-placeholder {
    color: $input-main-color;
  }

  // mat-icon-stepper selected color change
  .mat-step-header .mat-step-icon-selected,
  .mat-step-header .mat-step-icon-state-done,
  .mat-step-header .mat-step-icon-state-edit {
    background-color: $input-main-color !important;
  }

  // input outline color
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: $input-main-color !important;
  }

  // mat-input focused color
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $input-main-color !important;
  }

  // mat-input error outline color
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: $input-main-color !important;
    opacity: 0.8 !important;
  }

  // mat-input caret color
  .mat-input-element {
    caret-color: $input-main-color !important;
  }

  // mat-input error caret color
  .mat-form-field-invalid .mat-input-element,
  .mat-warn .mat-input-element {
    caret-color: $input-main-color !important;
  }

  // mat-label normal state style
  .mat-form-field-label {
    color: $input-label-color !important;
  }

  // mat-label focused style
  .mat-form-field.mat-focused .mat-form-field-label {
    color: $input-main-color !important;
  }

  // mat-label error style
  .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: $input-main-color !important;
  }
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #ffffff;
  width: 21.4%;
}

.right {
  right: 0;
  background-color: #ffffff;
  width: 78.6%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered-left {
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 100%;
  text-align: center;
}

.verticalLine {
  border-left: 2px solid #000000;
  height: 100%;
  position: absolute;
  left: 330px;
  margin-left: -3px;
  top: 0;
}

.main-section {
  padding-top: 40%;
  display: table-cell;
  width: 400px;
}

.v-menu {
  width: 330px;
  height: 300px;
}

.mif-name {
  left: -30%;
  font-size: 22px;
}

.bottom-three {
  margin-bottom: 2cm;
}

.v-menu li a {
  font-size: 18px;
  padding: 0 2rem 0 2.5rem;
  line-height: 45px;
  height: 45px;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  border: none;
  font-family: 'Roboto', sans-serif;
}

.logo {
  width: 153px;
  display: block;
  float: right;
}

.output-area {
  position: relative;
  border: 2px solid black;
  top: -90px;
  height: 150px;
}

.button {
  border: 2px solid black;
}

.centered-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title-page {
  position: relative;
  left: 42%;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 20px;
}

.tabs {
  position: relative;
  width: 100%;
  height: 100%;
}

.forms-tabs {
  position: relative;
  width: 1200px;
  height: 400px;
}


pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.btn {
  margin-top: 10px;
}

.modal .show {
  display: block;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place front is invalid - may break your css so removed */
  padding-top: 100px;
  /* Location of the box - don't know what this does?  If it is to move your modal down by 100px, then just change top below to 100px and remove this*/
  left: 0;
  right: 0;
  /* Full width (left and right 0) */
  top: 0;
  bottom: 0;
  /* Full height top and bottom 0 */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  z-index: 9999;
  /* Sit on top - higher than any other z-index in your site*/
}

.inputModal {
  position: relative;
  left: 45%
}

.inputModal-s {
  position: relative;
  left: 46%;
}

.action-button {
  position: relative;
  left: 45.5%;
  margin-bottom: 15px;
  z-index: 100;
}

input[type=text] {
  margin-bottom: 20px;
  border: 2px solid #0366d6;
  border-radius: 4px;
  padding-left: 10px;
  width: 50%;
  left: 25%;
}

.selector {
  position: relative;
  width: 40%;
  left: 30%;
  padding-bottom: 10px;
}

.datepicker {
  position: relative;
  left: 30%;
}

.mif-plus{
  color:white;
}

