<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="split left">
        <!-- Menu principale a gauche -->
        <div class="centered-left">
            <div class="page-content">
                <div class="menu">
                    <ul class="v-menu">
                        <li class="titleFont">USER</li>
                        <li><a class="adminName">{{adminConnected}}</a></li>
                        <li class="titleFont">General</li>
                        <li><a routerLink="/radio"><span class="mif-home icon"></span>Dashboard</a></li>
                        <li><a routerLink="/admin"><span class="mif-organization icon"></span>Admin</a></li>
                        <li><a routerLink="/song"><span class="mif-music icon fg-blue"></span>Songs</a></li>
                        <li><a routerLink="/programs"><span class="mif-calendar icon"></span>Programs</a></li>
                        <a class="bottom-three"></a>
                        <li class="menu-title">Settings</li>
                        <li><a routerLink="/statistics"><span class="mif-chart-dots icon"></span>Statistics</a></li>
                        <li><a (click)="logOut()"><span class="mif-cancel icon"></span>Logout</a></li>
                        <a class="bottom-three"></a>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Ligne verticale séparant le menu du reste de l'interface radio -->
        <div class="verticalLine"></div>
    </div>
    <div class="split right">
        <img class="logo" src="assets/png/Logo.PNG">
        <!-- Title -->
        <div>
            <h2 class=title-page>Song</h2>
        </div>
        <div class="centered-element">
            <!-- Table -->
            <div class="table-admin">
                <table class="table" data-show-search="false" data-rows="5" data-show-pagination="true"
                    data-pagination-short-mode="true">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Duration</th>
                            <th>Artist</th>
                            <th>Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let songs of songList">
                            <td>{{songs.title}}</td>
                            <td>{{songs.time}}</td>
                            <td>{{songs.artist}}</td>
                            <td>{{songs.genre}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Button add song -->
            <button type="button" class="btn btn-info btn-lg" (click)="showModal=true" data-toggle="modal"
                data-target="#songModal">Add a new
                song</button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal" id="songModal" role="dialog" [ngClass]="{'show':showModal}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="showModal=false" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add a song</h4>
                </div>
                <div class="modal-body">
                    <!-- Add song -->
                    <label for="file" class="label-file">Add a song</label>
                    <input type="file" class="input-file" id="file" (change)="upload($event)" accept=".mp3" />
                    <div class="div-file" id="file-upload-filename">{{this.fileUploadName}}</div>
                    <div class="formgroup">
                        <label class="inputModal-s">Title*</label>
                        <textarea id="textAreaTitle" type="text">{{this.fileTitle}}</textarea>
                    </div>
                    <div class="formgroup" id="name-form">
                        <label class="inputModal">Duration*</label>
                        <textarea id="textAreaDuration" type="text">{{this.fileDuration}}</textarea>
                    </div>
                    <div class="formgroup" id="name-form">
                        <label class="inputModal">Artist*</label>
                        <textarea id="textAreaArtist" type="text">{{this.fileArtist}}</textarea>
                    </div>
                    <div class="formgroup" id="name-form">
                        <label class="inputModal">Year*</label>
                        <textarea id="textAreaGenre" type="text">{{this.fileYear}}</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="showModal=false"
                        data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="uploadSong()">Confirm</button>
                </div>
            </div>

        </div>
    </div>


</body>

</html>