<!DOCTYPE html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Nanum Pen Script' rel='stylesheet'>
</head>

<body>
    <div class="page-content">
        <div class="split left">
            <div class="centered">

                <div class="form">
                    <img class="logo" src="/src/assets/png/Logo.PNG">
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Placeholder">
                            <mat-icon matSuffix><span class="user"></span></mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput  placeholder="Placeholder">
                            <mat-icon matSuffix><span class="lock"></span></mat-icon>
                        </mat-form-field>
                    </div>
                    <a class="forgot-pwd" href="">Forgot Password ?</a>
                    <button mat-button class="button">Login</button>

                </div>
            </div>
            <div class="verticalLine"></div>
        </div>
        <div class="split right">
            <div class="centered">
                <p class="title">Radio World</p>
                <img src="/src/assets/png/Micro.png">
            </div>
        </div>
    </div>
</body>


</html>