<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="split left">
        <!-- Menu principale a gauche -->
        <div class="centered-left">
            <div class="page-content">
                <div class="menu">
                    <ul class="v-menu">
                        <li class="titleFont">USER</li>
                        <li><a class="adminName">{{adminConnected}}</a></li>
                        <li class="titleFont">General</li>
                        <li><a routerLink="/radio"><span class="mif-home icon fg-blue"></span>Dashboard</a></li>
                        <li><a routerLink="/admin"><span class="mif-organization icon"></span>Admin</a></li>
                        <li><a routerLink="/song"><span class="mif-music icon"></span>Songs</a></li>
                        <li><a routerLink="/programs"><span class="mif-calendar icon"></span>Programs</a></li>
                        <a class="bottom-three"></a>
                        <li class="menu-title">Settings</li>
                        <li><a routerLink="/statistics"><span class="mif-chart-dots icon"></span>Statistics</a></li>
                        <li><a (click)="logOut()"><span class="mif-cancel icon"></span>Logout</a></li>
                        <a class="bottom-three"></a>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Ligne verticale séparant le menu du reste de l'interface radio -->
        <div class="verticalLine"></div>
    </div>
    <div class="split right">
        <!-- Logo en haut a droite -->
        <img class="logo" src="assets/png/Logo.PNG">
        <img class="counter_user" src="assets/svg/nb_users.svg">
        <p class="onlineUsers">Online customers</p>
        <h1 id="count">0</h1>

        <!-- Bouton pour lecture audio -->
        <div class="centered-element">
            <!-- Informations Area -->
            <div>
                <textarea readonly class="output-area">Booba - Pigeon</textarea>
                <!-- Button Audio -->
                <div class="flex_box">
                    <!-- Play Button -->
                    <audio autoplay controls src="{{src}}"></audio>
                    <p>{{src}}</p>
                    <!-- <button class="btn" *ngIf="!isPlaying" (click)="play()">
                        <img class="logo" src="assets/svg/play.svg">
                    </button> -->
                    <!-- Pause Button -->
                    <!-- <button class="btn" *ngIf="isPlaying" (click)="pause()">
                        <img class="logo" src="assets/svg/pause.svg">
                    </button> -->
                </div>
                <!-- Slider pour l'audio -->
                <div class="slider-volume">
                    <span class="mif-volume-medium"></span>
                    <input data-role="slider" class="ultra-thin cycle-marker">
                </div>
                <div class="button-go-live">
                    <button class="btn" *ngIf="!isLive" (click)="goLive()">
                        <img class="logo-go-live" src="assets/svg/go_live.svg">
                    </button>

                    <button class="btn" *ngIf="isLive" (click)="pauseLive()">
                        <img class="logo-go-live" src="assets/svg/live_on.svg">
                    </button>
                </div>
            </div>
            <!-- Text area pour commenter  -->
            <textarea id="message" type="text">{{this.message}}</textarea>

            <!-- div pour le button send -->

            <button class="button primary cycle" (click)="getMessage()">
                <span class="mif-compass"></span>
            </button>


        </div>
    </div>


</body>


</html>