<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="split left">
        <!-- Menu principale a gauche -->
        <div class="centered-left">
            <div class="page-content">
                <div class="menu">
                    <ul class="v-menu">
                        <li class="menu-title">MyAdmin</li>
                        <li><a class="mif-name">AdminName</a></li>
                        <li class="menu-title">General</li>
                        <li><a routerLink="/radio"><span class="mif-home icon fg-blue"></span>Dashboard</a></li>
                        <li><a routerLink="/admin"><span class="mif-organization icon"></span>Admin</a></li>
                        <li><a routerLink="/song"><span class="mif-music icon"></span>Songs</a></li>
                        <li><a routerLink="/programs"><span class="mif-calendar icon"></span>Programs</a></li>
                        <a class="bottom-three"></a>
                        <li class="menu-title">Settings</li>
                        <li><a routerLink="/statistics"><span class="mif-chart-dots icon"></span>Statistics</a></li>
                        <li><a routerLink="/login"><span class="mif-cancel icon"></span>Logout</a></li>
                        <a class="bottom-three"></a>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Ligne verticale séparant le menu du reste de l'interface radio -->
        <div class="verticalLine"></div>
    </div>
    <div class="split right">
        <!-- Logo en haut a droite -->
        <img class="logo" src="assets/png/Logo.PNG">
        <!-- Bouton pour lecture audio -->
        <div class="centered-element">
            <!-- Informations Area -->
            <textarea class="output-area">Booba - Pigeon</textarea>
            <!-- Button Audio -->
            <button id="b1" class="button cycle large bg-white fg-blue" data-role="audio-button" data-audio-src=""
                data-audio-volume=".1">
                <span class="mif-play"></span>
            </button>
            <!-- Slider pour l'audio -->
            <div class="slider-volume">
                <span class="mif-volume-medium"></span>
                <input data-role="slider" class="ultra-thin cycle-marker">
            </div>
            <div class="button-go-live">
                <button href="#" class="buttonLive">Go live</button>
            </div>
            <!-- Text area pour commenter  -->
            <div class="textarea">
                <textarea data-role="textarea" data-clear-button-icon="<span class='mif-cancel'></span>"></textarea>
            </div>
            <!-- div pour leet button send -->
            <div class="button-send">
                <button class="button primary cycle">
                    <span class="mif-compass"></span>
                </button>
            </div>

        </div>
    </div>


</body>


</html>